{% extends "flights/base.html" %}
{% block body %}
    <h1 style="color:#24ca32; text-align: center; font-size:500%;">Social Network</h1>
    <br><br><div class="card" style="width: 20%; background-color:aquamarine; text-align: center;">
        <div class="card-body">
            <h1 style="color:red" class="card-title">Login</h1>
            <p class="card-text">Click here to login</p><br><br>
            <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
        </div>
    </div><br><br>
    <div class="card" style="width: 20%; background-color:aquamarine; text-align: center;">
        <div class="card-body">
            <h1 style="color:red" class="card-title">Register</h1>
            <p class="card-text">Click here to register</p><br><br>
            <a href="{% url 'register' %}" class="btn btn-primary">Register</a>
        </div>
    </div>
{% endblock %}
